# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.gdb

result.txt

HSLAM/Thirdparty/CompiledLibs/
HSLAM/build/
HSLAM/Thirdparty/libtorch/
HSLAM/Thirdparty
HSLAM/gs_output 
# HSLAM/run_scripts/
HSLAM/results/
HSLAM/models/
HSLAM/logs
HSLAM/mats
HSLAM/images_out
HSLAM/docs
HSLAM/tests/
HSLAM/scripts/
CLAUDE*
.claude_context


*.avi

analytics
.vscode

HSLAM/Thirdparty/cmake_install.cmake
HSLAM/Thirdparty/CMakeFiles
HSLAM/Thirdparty/CMakeCache.txt
HSLAM/Thirdparty/cmake_install.cmake
HSLAM/Thirdparty/Makefile

HSLAM/Thirdparty/cmake_uninstall.cmake
HSLAM/Thirdparty/cmake_uninstall.cmake.in
HSLAM/Thirdparty/cmake_uninstall.cmake.in

HSLAM/Thirdparty/onnxruntime*
HSLAM/Thirdparty/onnxruntime-linux-x64-1.19.2.tgz
HSLAM/Thirdparty/onnxruntime-cpu-backup
.cursor
.claude
.cursorignore



HSLAM/Thirdparty/opencv-4.9.0/modules/python/src2/__pycache__/hdr_parser.cpython-312.pyc
HSLAM/Thirdparty/opencv-4.9.0/modules/python/src2/__pycache__/hdr_parser.cpython-312.pyc
