# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/

result.txt

HSLAM/Thirdparty/CompiledLibs/

HSLAM/run_scripts/
HSLAM/results/
HSLAM/models/
HSLAM/logs
HSLAM/mats
HSLAM/docs/papers
HSLAM/docs/prompts

.cursor/rules


*.avi

analytics
.vscode/settings.json

HSLAM/Thirdparty/cmake_install.cmake
HSLAM/Thirdparty/CMakeFiles
HSLAM/Thirdparty/CMakeCache.txt
HSLAM/Thirdparty/cmake_install.cmake
HSLAM/Thirdparty/Makefile

HSLAM/Thirdparty/cmake_uninstall.cmake
HSLAM/Thirdparty/cmake_uninstall.cmake.in
HSLAM/Thirdparty/cmake_uninstall.cmake.in

HSLAM/Thirdparty/onnxruntime
HSLAM/Thirdparty/onnxruntime-linux-x64-1.19.2.tgz

.cursor/rules/
HSLAM/tests/
HSLAM/tests/build_validation/
